@page "/"
@inject Services.SearchService SearchService

<PageTitle>Home</PageTitle>

<h1>Customer Support</h1>

<a href="/show">Prikaži Dokumente</a><br />
<a href="/upload">Dodaj Dokument</a><br />
<a href="/change">Ažuriraj Dokumente</a>
